<launch>
  <!-- Launch the Python script -->
  <node pkg="alfred_clever_lamp" type="R1_brodcast_marker.py" name="tf2_broadcaster" output="screen">
  </node>
  <!-- Launch the Python script -->
  <node pkg="alfred_clever_lamp" type="R2_move_robot.py" name="move_robot" output="screen">
  </node>
  <!-- Launch the Python script -->
  <node pkg="alfred_clever_lamp" type="CV1_detect_pointing.py" name="pub_pointing_image" output="screen">
  </node>
  <!-- Launch the Python script -->
  <node pkg="alfred_clever_lamp" type="CV2_process_image.py" name="process_image_gemini" output="screen">
  </node>
  <!-- Launch the Python script -->
  <node pkg="alfred_clever_lamp" type="CV3_chromcast.py" name="cromcast_controller" output="screen">
  </node>
</launch>
